body {
  background-color: black;
  color: yellow;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selections {
  margin-top: 3%;
  gap: 5%;
}

.selection {
  background: none;
  border: none;
  font-size: 5rem;
}

.result {
  margin-top: 3rem;
  font-size: 2rem;
  gap: 1rem;
}

.choices {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  gap: 5%;
}
